body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.outcome {
  font-size: x-small;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  img.ui.mini.image.mobile-hide {
    display: none;
  }
  .ui.button.mobile-hide {
    display: none;
  }
}
